<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
  <div class="col-md-6 p-lg-5 mx-auto my-5" style="background-image:image('/assets/images/logo.png')">
    <img src="/assets/img/logo.png" alt="Logo" />
    <!-- <h1 class="display-4 fw-bold mb-5">WAIILO</h1> -->
    <p class="lead fw-normal mt-4 fs-4">
      La billetera Virtual que no podrás dejar de usar día a día.
    </p>
    <p class="lead fw-normal fs-5">
      Ayudándote en muy simples pasos.
    </p>
    <a class="btn btn-outline-secondary mt-5 btn-link text-decoration-none text-muted" routerLink="/Registro">Registrarse</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div
    class="product-device product-device-2 shadow-sm d-none d-md-block"
  ></div>
</div>

<div class="d-md-flex flex-md-equal w-100 ps-md-3 mb-5">
  <div class="bg-dark col-4 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <img src="/assets/img/walletx.png" alt="" class="col-10"/>
    <h3 class="col-12 mt-3">La unica biletera virtual que vas a querer</h3>
  </div>
  <div class="bg-light col-4 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <h3 class="col-12 mb-3">Aún desde tu celular</h3>
    <img src="/assets/img/wallet4-3.png" alt="" class="col-10"/>
  </div>
  <div class="bg-primary col-4 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <img src="/assets/img/wallet2.jpg" alt="" class="col-10"/>
    <h3 class="col-12 mt-3">Ingresando dinero rápidamente</h3>
  </div>
</div>
