<nav class="sb-topnav navbar navbar-expand navbar-dark sticky-md-top" style="background-color:#2E2B2B;">
    <div class="container-fluid">
        <a class="navbar-brand ps-3" href="index.html">PIL Money</a>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item px-1">
                <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ventanaModal">Registrarse</button>


                <div class="modal fade" id="ventanaModal" tabindex="-1" role="dialog" aria-labelledby="etiquetaReg" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 id="etiquetaReg">Registrarse</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
              </div>
              <div class="modal-body">
                 <app-register></app-register>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item px-1">
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ventanaLogin">
          Iniciar Sesion
        </button>
        <div class="modal fade" id="ventanaLogin" tabindex="-1" role="dialog" aria-labelledby="etiquetaReg" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 id="etiquetaReg">Iniciar Sesion</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
              </div>
              <div class="modal-body">
                <app-login></app-login>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
