<div class="modal-header col-10 mx-auto">
  <h5 class="modal-title" id="exampleModalLabel">REGISTRO</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    routerLink=""
  ></button>
</div>
<form class="container-fluid col-10 my-5 mx-auto">
  <div class="form-group my-3 py-2 row">
    <div class="col-6">
      <div class="form-floating col">
        <input
          type="text"
          class="form-control"
          id="floatingNombre"
          placeholder="Nombre"
          value=""
          required
        />
        <label for="floatingNombre">Nombre</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating col">
        <input
          type="text"
          class="form-control"
          id="floatingApellido"
          placeholder="Apellido"
          value=""
          required
        />
        <label for="floatingApellido">Apellido</label>
      </div>
    </div>
  </div>
  
  <div class="form-group my-3 py-2">
    <div class="input-group">
      <div class="form-floating col">
        <input
          type="email"
          class="form-control"
          [formControl]="mail"
          id="floatingEmail"
          placeholder="Email"
          value="ejemplo@gmail.com"
        />
        <label for="floatingEmail">Ingrese su dirección de e-mail</label>
      </div>
    </div>
    <div
      *ngIf="mailField.invalid && (mailField.dirty || mailField.touched)"
      class="text-danger"
    >
      <small *ngIf="mailField.hasError('pattern')"> Email no valido </small>
      <small *ngIf="passwordField.hasError('required')">
        Debe ingresar una dirección de e-mail
      </small>
    </div>
  </div>
  <div class="form-group my-3 py-2">
    <div class="input-group">
      <div class="form-floating col">
        <input
          type="password"
          class="form-control"
          [formControl]="password"
          id="floatingEmail"
          placeholder="Contraseña"
          value="ejemplo@gmail.com"
        />
        <label for="floatingEmail">Ingrese su contraseña</label>
      </div>
    </div>
    <div
      class="p-3"
      *ngIf="
        passwordField.invalid && (passwordField.dirty || passwordField.touched)
      "
      class="text-danger"
    >
      <small *ngIf="passwordField.hasError('pattern')">
        La clave debe contener al menos una letra Mayuscula, una Minuscula y un
        simbolo.
      </small>
      <small *ngIf="passwordField.hasError('minlength')">
        El minimo de digitos requerido es 8.
      </small>
      <small *ngIf="passwordField.hasError('required')">
        La contraseña es requerida.
      </small>
    </div>
  </div>

  <div class="form-group my-3 py-2">
    <div class="input-group">
      <div class="form-floating col">
        <input
          type="password"
          class="form-control"
          [formControl]="password"
          id="floatingEmail"
          placeholder="Contraseña"
          value="ejemplo@gmail.com"
        />
        <label for="floatingEmail">Reingrese su contraseña</label>
      </div>
    </div>
    <div
      class="p-3"
      *ngIf="
        passwordField.invalid && (passwordField.dirty || passwordField.touched)
      "
      class="text-danger"
    >
      <small *ngIf="passwordField.hasError('pattern')">
        La clave debe contener al menos una letra Mayuscula, una Minuscula y un
        simbolo.
      </small>
      <small *ngIf="passwordField.hasError('minlength')">
        El minimo de digitos requerido es 8.
      </small>
      <small *ngIf="passwordField.hasError('required')">
        La contraseña es requerida.
      </small>
    </div>
  </div>
  <div class="col">
    <div class="form-floating col">
      <input
        type="text"
        class="form-control"
        id="floatingDni"
        placeholder="DNI"
        value=""
        required
      />
      <label for="floatingDni">DNI</label>
    </div>
  </div>

  <div class="form-group col-md-4">
    <label class="px-1 my-2" for="inputState">Provincia</label>
    <select id="inputState" class="form-control">
      <option selected>Seleccione una Provincia</option>
      <option>Buenos Aires</option>
      <option>Catamarca</option>
      <option>Chaco</option>
      <option>Chubut</option>
      <option>Córdoba</option>
      <option>Corrientes</option>
      <option>Entre Rios</option>
      <option>Formosa</option>
      <option>Jujuy</option>
      <option>La Pampa</option>
      <option>La Rioja</option>
      <option>Mendoza</option>
      <option>Misiones</option>
      <option>Nequén</option>
      <option>Rio Negro</option>
      <option>Salta</option>
      <option>San Juan</option>
      <option>San Luis</option>
      <option>Santa Cruz</option>
      <option>Santa Fé</option>
      <option>Santiago del Estero</option>
      <option>Tierra del Fuego, Antártida e Isla del Atlántico Sur</option>
      <option>Tucumán</option>
    </select>
  </div>

  <div class="row g-3 my-3">
    <div class="col">
      <label for="" class="form-label">Ciudad</label>
      <input type="text" class="form-control" aria-label="First name" />
    </div>
    <div class="col">
      <label for="" class="form-label">Codigo postal</label>
      <input type="text" class="form-control" aria-label="Last name" />
    </div>
  </div>

  <div class="form-check my-5">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="invalidCheck"
      required
    />
    <label class="form-check-label" for="invalidCheck">
      Acepto los terminos y condiciones.
    </label>
    <div class="invalid-feedback">You must agree before submitting.</div>
  </div>

  <button type="submit" class="btn btn-dark mt-2" routerLink="../movimientos">Registrarme</button>
</form>
